.archive-page{
    text-align: center;
    margin: auto;
    width: 97%;
    background-color: #2B3252;
    padding: 10px;
}

.voting{
    background-color: #2B3252;
    color: black;
    padding-top: 100px;
    /**text-align: center; **/
    height: 100vh;
    padding-bottom: 25px;
    overflow: scroll;
}

