.question{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.voting{
    background-color:rgb(74, 202, 123);
    color: black;
    padding-top: 100px;
    /**text-align: center; **/
    height: 100vh;
    padding-bottom: 25px;
}

