.question{
    top: 200px;
    position: absolute;
    left: 115px;
    /*border: 1.0px solid rgb(0, 0, 0);*/
    height: 200px;
    width: 1200px;
}
.homepage{
    background-color: black;
    width: 100%;
    top: 50px;
    height: 1000px;
    margin: 0px;
    left: 0px;
    position: absolute;

}

.answer_section{
    position: absolute;
    top: 300px;   
}


.answer_box{
   position: abolute;
   text-align: center;
   top: 50 px;
   width: 800px;
   height: 200px;
   font-size: 22px;
   resize: none;
   color: #9900ff;
   margin-top: 300px;
   border: 2.5px solid rgb(0, 0, 0);
   padding: 20px;
}

.comments{
    position: absolute;
    left: 500px;
    width: 400px;
    top: 500px;
}