.question{
    top: 200px;
    position: absolute;
    left: 75px;
    /*border: 1.0px solid rgb(0, 0, 0);*/
    height: 200px;
    width: 1200px;
}

.comment-form{
    top: 400px;
    position: absolute;
    width: 50%;
    left: 400px;
}
.homepage{
    background-color: black;
    width: 100%;
    top: 50px;
    height: 1000px;
    margin: 0px;
    left: 0px;
    position: absolute;

}
.comments{
    position: absolute;
    left: 500px;
    width: 400px;
    top: 500px;
}