.list-of-topics{
    position: absolute;
    margin-left: 200px;
    top: 100px;
    
}
.question{
    top: 275px;
    position: absolute;
    left: 325px;
    border: 1.0px solid rgb(0, 0, 0);
    height: 200px;
    width: 800px;
}
.homepage{
    background-color: rgb(255, 255, 255);
    width: 100%;
    top: 58px;
    height: 1000px;
    margin: 0px;
    left: 0px;
    position: absolute;
}

.answer_section{
    position: absolute;
    top: 300px;   
}


.answer_box{
   position: abolute;
   text-align: center;
   top: 50 px;
   width: 800px;
   height: 200px;
   font-size: 22px;
   resize: none;
   color: #9900ff;
   margin-top: 300px;
   border: 2.5px solid rgb(0, 0, 0);
   padding: 20px;
}
