<div class="homepage">
    <!--
    <div class="list-of-topics">
        <topic-list></topic-list>
    </div> -->  
    <div class="question">
        <app-question 
        [question] = "post?.content"
        [username] = "post?.username"
        [days_remaining] = "post?.meta.days_remaining"
        [number_of_likes] = "post?.meta.likes"
        [number_of_comments] = "post?.meta.comments"
        ></app-question>
    </div>

    <div class = "comment-form">
        <app-comment-form
           *ngIf = "!hideForm"
        ></app-comment-form>
    </div>
    
    <div class = "comments">
        <tr *ngFor = "let comment of comments ">
            <td> <app-comment 
            *ngIf = "hideComments"
            [comment] = "post?.comments[comment].content"
            [username] = "post?.comments[comment].username"
            ></app-comment>
            </td>
        </tr>
    </div>
    
    
</div>