.list-of-topics{
    position: absolute;
    margin-left: 200px;
    top: 100px;
    
}
/*.question{
    padding-top: 275px;
    text-align: center;
     border: 1.0px solid rgb(0, 0, 0);
    height: 200px;
    width: 100%;
    background-color: red;
}*/
.homepage{
    background:linear-gradient(rgb(0,0,50),rgb(90,90,120)) ;
    width: 100vw;
    height: 100vh;
    padding: 100px;
    padding-top: 200px;

    
    margin: 0px;

   

}

.routing_questions_component{
  margin: auto;
  display: grid;
  width: auto;
width: 390px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

}
.routing_questions_component > button{
  all:unset;
  background-color: red;
  border: none;
  border-radius: 10px;
width:100px;
 color: white;
 padding: 10px;
 font-size: 15px;
 text-align: center;
 text-transform: uppercase;
 font-family: "Arial Black";

}
.answer_section{
    position: absolute;
    top: 300px;   
}


.answer_box{
   position: abolute;
   text-align: center;
   top: 50 px;
   width: 800px;
   height: 200px;
   font-size: 22px;
   resize: none;
   color: #9900ff;
   margin-top: 300px;
   border: 2.5px solid rgb(0, 0, 0);
   padding: 20px;
}

.comments{
    
    text-align: center !important;
    width: 100%;

}