<div class="homepage" [style.backgroundColor]="color">
    <!--
    <div class="list-of-topics">
        <topic-list></topic-list>
    </div> -->  
    <div class="question_wrap">
    <div class="question">
        <app-question
        [question] = "posts && posts[currentPostNumber]?.content"
        [username] = "posts && posts[currentPostNumber]?.username"
        [days_remaining] = "posts && posts[currentPostNumber]?.meta.days_remaining"
        [number_of_likes] = "posts && posts[currentPostNumber]?.meta.likes"
        [number_of_comments] = "posts && posts[currentPostNumber]?.meta.comments"
        ></app-question>
    </div>

        <div class="routing_questions_component">
        <button (click) = 'onClickPrevious()'>Previous</button>
        <button (click) = 'onClickAnswer()'>Answer</button>
        <button (click) = 'onClickNext()'>Next</button>
    </div>
    
    <div class="comment-form"> 
       <app-comment-form *ngIf = "this.showForm" (event)='setDataFromchild($event)'></app-comment-form>
    </div>
    <br>
    <div class = "comments" id = "comments_div">
        <div *ngFor = "let comment of commentkeys ">
           <app-comment
            *ngIf = "this.showComments"
            [comment] =  "posts && posts[currentPostNumber]?.comments[comment].content"
            [username] = "posts && posts[currentPostNumber]?.comments[comment].username"
            ></app-comment>
        </div>
    </div>
    
