<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>hi</h2>

<button onclick="call();">HI</button>

<script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
<script>
  // Initialize Firebase

</script>


<script type="text/javascript">

function call(){
  fetch("/posts/-LZHqfA8j8tfRBos9qXw").then(function(res){
    return res.json();
  }).then(function(res){
    console.log(res);
  }).catch((err)=>{
    console.log(err);
  });
}
   


 
</script>


</body>
</html>