.ask {
  /**background-color:rgb(0,100,140);*/
  /*background-color: rgb(219, 101, 65);
  background-color: #3c1a5b;*/
  /*background-: #2B3252;*/
  /*background-image: linear-gradient(rgb(111, 197, 168), white);*/
  background-image: linear-gradient(rgb(0,130,190), white);
  display: block;
  height: 100vh;
  margin: 0px;
  left: 0px;
  text-align: center;
  top: 50px;
  width: 100%; 
  font-family: Futura; 
  padding-top: 100px;
 }


 