.question {
    color: rgb(255, 255, 255);
    background-color:rgb(69, 172, 212);
    border-width: 1px;
    border-style: solid;
    border-color: aquamarine;
    text-align: center;
    /*font-family: sans-serif;*/
    font-size: 20px;
    font-family: "Futura";
    
}