<div class="question">
    
    {{username}}
    <br>
    {{question}}
    <br>
    <div class = "stats"  fxLayout="row" fxLayoutAlign="space-around center" >
        <div>Likes: {{number_of_likes}}</div>
        <div>
                <button (click)='onClickComments()'  class="btn btn-primary" >Comments</button>
        Comments: {{number_of_comments}}
    </div>     
    </div>
    
   
    <div *ngIf="showComments" class = "grid-container">
        <div *ngFor="let key of commentKeys" class="grid-item">
            <!--{{comments[key].username}}: {{comments[key].content}} -->
            <app-comment 
            [comment] = comments[key].content
            [username] = comments[key].username
            >
            </app-comment>
        </div>
    </div>
</div>