.question {
    color: rgb(255, 255, 255);
    /*background-color:rgb(69, 172, 212);*/
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    /*font-family: sans-serif;*/
    font-size: 20px;
    font-family: "Futura";
    
}

.btn-primary {
    background-color: rgb(56, 150, 84);
    border-color: darkcyan; 
    color: white;
    
    border-radius: 8px;
}