.question {
    background-color: #Ef5455;
    border-color: transparent;
    border-radius: 12px;
    color: #2B3252;
    display: inline-block;
    font-family: "Futura";
    font-size: 25px;
    height: 100px;
    margin: auto;
    padding: 5px;
    text-align:left;
    width: 100%;
    
}

.btn-primary {
    background-color: rgb(216, 27, 27);
    border-radius: 20px;
}

.btn-md{
    background-color: #FAD744;
    border-radius: 10px;
}