<div class="question" fxLayout="row" fxLayoutAlign="space-evenly center" >
    <div>
        {{votes}}
    </div>
    <button [disabled] = "clicked" (click)='onLike()' type="button" class="btn btn-default btn-md">
        <span class="glyphicon glyphicon-circle-arrow-up"></span>
    </button>
    <div fxLayout="column" fxLayoutAlign="space-between center" >
        <div>
            {{username}}
        </div>
        <div>
            {{question}}
        </div>
    </div>
    <!--<button > Report </button>-->
</div>

