#question{
    background-color: black;
    border-color:darkslategrey;
    color: white;
    height: 300px;
    max-width: 500;
    font-size: 20px;
    resize: none;
}

.btn-primary{
    color: darkslategray;
    background-color: black;
    border-color: darkcyan; 
}
