<!--
<div class="voting">
  <tr *ngFor = "let key of postkeys ">
    <td> <app-voting-question
      [question] = "posts[key]?.username"
      [username] = "posts[key]?.username"
      [days_remaining] = "posts[key]?.meta.days_remaining"
      [number_of_likes] = "posts[key]?.meta.likes"
      [number_of_comments] = "posts[key]?.meta.comments"
    ></app-voting-question>
    </td>
  </tr>
</div>
<div>
  Queri Voting Page
</div>

-->
<div class="voting">
  <tr *ngFor = "let key of postkeys ">
    <td> <app-voting-question
      [question] = "1"
      [username] = "1"
      [days_remaining] = "1"
      [number_of_likes] = "1"
      [number_of_comments] = "1"
    ></app-voting-question>
    </td>
  </tr>
</div>
