<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <!-- <label for="name">Name</label> -->
    <textarea ngModel minlength="5" maxlength="256" name= "comment" #comment = "ngModel" (change) = "log(comment)" id="comment" type="text" class="form-control" required></textarea>
   <!-- <div class = "alert alert-danger" *ngIf="question.touched && !question.valid">Enter a Question!</div> -->
   <br>
   <button (click) = 'onSubmit()' type="button" class="btn btn-primary">Submit</button>
  </div>
</form>
