.form-group{
    background-color: black;
    text-align: center;
    
}

#comment{
    background-color: black;
    border-color:darkslategrey;
    color: white;
    font-size: 20px;
    height: 200px;
    max-width: 500;
    resize: none;
}

.btn-primary{
    background-color: black;
    border-color: darkcyan; 
    color: darkslategray;
}
