.question{
 
    border-radius: 10px;
    /*color: #ff7770;
    font-family: sans-serif;
    text-align: center;
    font-size: 47px;
    font-family: "Futura";
    width: 70%;
    margin: auto;
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);*/
    /*background-color: black;*/
}    

.question_wrap{
      color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    font-family: "Futura";
    width: 80%;
    margin: auto;
   
    padding: 20px;

}

.username{
    margin:auto; 
    height:auto; 
    font-family: "Arial Black";
    overflow:auto;
    color: white;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    padding: 5px;

    border-radius: 10px;
    
}
/*
.stats > div{
    border-radius: 100%;
    border: 5px solid white;
    width: 40px;
    height: 40px;
    padding-top: 5px;
}
*/

.stats_icon{
width: 50px;
height: 50px;
background-position: center;
background-size: 70% auto;
background-repeat: no-repeat;


}
.stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
grid-gap:10px;
    font-size: 15px;
    width: 180px;
    margin: auto;
    height: auto;
    font-family: "Arial Black";
    margin-top: 20px;
    color:white;
    letter-spacing: 2px;
    text-transform: uppercase;
}