.question{
   
    color: #ff7770;
    font-family: sans-serif;
    text-align: center;
    font-size: 47px;
    background-color: black;
    
}

.username{
    margin:auto; 
    height:auto; 
    background-color: black; 
    overflow:auto;
    color: white;
    text-align: center;
    font-size: 20px;
    
}

.stats{
    font-size: 40px;
    width: 100%;
    height: auto;
    background-color:black;
    color:grey;
}