<div class="question_wrap">	
	<div class="username">
	    {{username}}
	</div>
	<div class="question">
	    {{question}}
	</div>


	<div class="stats" >   
	    <div><div class="stats_icon" style="background-image: url('https://img.icons8.com/cotton/2x/facebook-like--v1.png');"></div><p>{{numberOfLikes}}</p></div>
	    <div><div class="stats_icon" style="background-image: url('https://img.icons8.com/cotton/2x/speech-bubble-with-dots.png');"></div><p>{{numberOfComments}}</p></div>
	    <div><div class="stats_icon" style="background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/clock-icon.png');"></div><p>{{daysRemaining}}d</p></div>
	</div>

</div>

<br>

<br>

<br>



