.navbar{
    height: auto !important;
    margin: 0 !important;
    position: fixed;
    width: 100%;
    background-color: Black !important;
    border-radius: 0 !important;
    border: none !important;
    padding: 5px !important; 
    font-size: 20px;
    z-index: 100;
    
}

.navbar p{
    font-family: "Futura" !important;
}
.navbar-brand{
   /** padding: 0 15px;*/
    height: auto;
    line-height: 500px;
}

.left {
    color: rgb(110, 110, 110);
    text-decoration: none;
    float: left;
}

.right{
    float: right;
}
