<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>hi</h2>


<button onclick = "push_p();">test</button>

<form action = "/new_p" method = "post">
  <input type="text" name="username"/>
  <input type="text" name="content"/>
  <input type="submit" value="submit">
</form>


<script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "",
    authDomain: "",
    databaseURL: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: ""
  };
  firebase.initializeApp(config);
</script>


<script type="text/javascript">
	function push_p() {
		// body...
		let db = firebase.database().ref();
		db.child("queri").child("posts").push().set("hello");
	}

</script>


</body>
</html>